<h2 id="title">Ember Computed Template String</h2>

<h4> Computed.templateString </h4>
firstName: {{input value=firstName}} <br/>
lastName: {{input value=lastName}} <br/>
fullName: {{fullName}} <br/>
templatedString: {{fullName2}}
