<h2 id="title">Ember Computed Template String</h2>

<label>First:</label> {{input value=firstName}} <br/>
<label>Last:</label> {{input value=lastName}} <br/>

<h3>{{greeting}}</h3>
<h3>{{greeting2}}</h3>
